body{background-color: red;}

.container{ 
    border: 4px solid blue;
    text-align: justify;
    height: 60%;
    padding: 20px;
    width: 50%;
    margin: auto;
    background-color: green;
    
}

p{font-family: 'Courier New', Courier, monospace;}

h1{
   text-align: center;
   font-family:'Courier New', Courier, monospace;
}

