<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1> CONTACTO</h1>
        <div class="container">
            <header>
                <nav class="menu">
                    <ul>
                        <li><a href="../index.html"> Inicio </a></li>
                        <li><a href="Productos.html"> Producto </a></li>
                        <li><a href="#"> Contacto </a></li>
                        <li><a href="Servicios.html"> Servicios </a></li>
                    </ul>
                </nav>
            </header>
        <main>
            <Div>
                <img src="../imgMain/img_contactos.jpg.jpeg" alt="">
                <p style="text-align: center;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium soluta minima molestias! Repellendus alias numquam, blanditiis
                    ab aspernatur, nesciunt quidem doloremque dolores, beatae praesentium fugit quibusdam quis velit labore quae?           </p>
                    <p style="text-align: center;"><a href="https://api.whatsapp.com/send/?phone=573153801813&text=Hola%2C+necesito+informaci%C3%B3n&type=phone_number&app_absent=0">
                        <img src="../imgMain/img_boton_whatsapp.png" style="width: 120px;"  alt=""></a>
                    </p>
                <video src="/videoMain/video_servicios.mp4"controls width="100%"></video>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit possimus accusamus aspernatur totam pariatur eos. Quas harum voluptatem delectus accusamus quis nemo culpa similique eos dignissimos, eveniet ipsa possimus officiis.</p>
            </Div>
        </main>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.966012734061!2d-73.62469948930668!3d8.30617629169461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d85644ffde4b9%3A0x92040d7416c336e0!2sTerminal%20de%20Transporte%20Aguachica!5e0!3m2!1ses-419!2sco!4v1773434054872!5m2!1ses-419!2sco" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <footer>
                <p style="text-align: center; ">
                    <a href=""><img src="../imgMain/boton_facebook.png" style="width: 50px;" alt="  "></a>
                    <a href=""><img src="../imgMain/boton_instagram.png" style="width: 50px;" alt=""></a>
                    <a href=""><img src="../imgMain/boton_pinteres.png" style="width: 50px;" alt=""></a>
                </p>
            </footer>
        </div> 
</body>
</html>